<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Nutrición Viva</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag "img.jpg", class: "img-thumbnail img-responsive"%>
        </div><!-- /col-lg-6 -->
        <div class="col-lg-6">
          <h1>Recibe consejos saludables en tu email.</h1>
          <%= form_for(@user, html: {class: "form-inline"}) do |f|%>
            <div class="form-group">
              <%= f.text_field :email, type: "email", class: "form-control input-lg col-lg-3", placeholder: "Email"%>
            </div>
            <%= f.submit "Inscribirse", type: "submit" , class:"btn btn-warning btn-lg"%>
          <% end %>
        </div><!-- /col-lg-6 -->
        
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->

  <div class="container">
    <hr>
    <p class="centered">Nydia Silva - @nutricionviva1 - nydiasilva@hotmail.com - 2015</p>
  </div><!-- /container -->